<!DOCTYPE html>
<html lang="en" ng-app="myApp_flows">
<head>

  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/controllerFlows.js"></script>


  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>



<body class="container">
<div ng-controller="flowscontroller">

  <!-- Button trigger modal -->

  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalFlow">
    Add Flow
  </button>


  <table class="table" id="infoadmins" style="overflow: auto">

    <thead>
    <tr>

      <th><h5> Flow Name: </h5></th>
      <th><h5> Id Node: </h5></th>
      <th><h5> Ingress Port: </h5></th>
      <th><h5> Priority: </h5></th>
      <th><h5> Vlan Id: </h5></th>
      <th><h5> Vlan Priority: </h5></th>
      <th><h5> IP Source: </h5></th>
      <th><h5> IP Destination: </h5></th>
      <th><h5> Protocol: </h5></th>
      <th><h5> Hard Time out: </h5></th>
      <th><h5> Idle Time out: </h5></th>
      <th><h5> Actions: </h5></th>

    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="flow_info in flowsloaded">
      <td>{{flow_info.name}}</td>
      <td>{{flow_info.idnode}}</td>
      <td>{{flow_info.ingressPort}}</td>
      <td>{{flow_info.priority}}</td>
      <td>{{flow_info.vlanId}}</td>
      <td>{{flow_info.vlanPriority}}</td>
      <td>{{flow_info.nwSrc}}</td>
      <td>{{flow_info.nwDst}}</td>
      <td>{{flow_info.protocol}}</td>
      <td>{{flow_info.idleTimeout}}</td>
      <td>{{flow_info.hardTimeout}}</td>
      <td>{{flow_info.actions}}</td>



      <td> <a href="#"ng-click=deleteFlow(flow_info.idnode,flow_info.name)>  <i class="fa fa-trash-o"></i> </a> </td>


    </tbody>
  </table>

<!-- Modal -->
<div class="modal fade" id="myModalFlow" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFlow" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabelFlow">Add Flow</h4>
      </div>
      <div data-ng-controller="helpflow">
        <div class="modal-body">

          <!--_________________________________________________________________________________________________________-->
          <div id="messagesadmin" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
          <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>
          <form name="helpForm" novalidate role="form">

            <div class="form-group">
              <label for="flowname">Flow Name</label>
              <span class="label label-danger" data-ng-show="helpForm.flowname.$error.required">Required! Without spaces</span>
              <input type="text" name="flowname" data-ng-model="flow_name" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="mikro">Mikrotik to be connected</label>
              <span class="label label-danger" data-ng-show="helpForm.mikro.$error.required">Required!</span>
              <select ng-model="MAC_address" name="mikro" class="form-control"
                      ng-options="mikro.name+' - '+mikro.id for mikro in nodesloaded" ng-mouseup="showPorts(MAC_address.id)" required />
              </select>
            </div>

            <div class="form-group">
              <label for="port_in">Input Port</label>
              <select ng-model="port_flow" name="port_flow" class="form-control" ng-options="portavail.name for portavail in ports">
              </select>
            </div>

              <div class="form-group">
                <label for="prior">Priority</label>
             <!--    <span class="label label-danger" data-ng-show="helpForm.$error.number">Not a valid number!</span> -->
                <input type="number" name="prior" data-ng-model="priority" class="form-control">
              </div>



              <div class="form-group">
                <label for="hardt">Hard Time Out</label>
              <!--  <span class="label label-danger" data-ng-show="helpForm.hardt.$error.required">Required!</span> -->
             <!--    <span class="label label-danger" data-ng-show="helpForm.$error.number">Not a valid number!</span> -->
                <input type="number" name="hardt" data-ng-model="hardtimer" class="form-control" >
              </div>

              <div class="form-group">
                <label for="idlet">Idle Time Out</label>
                <!--<span class="label label-danger" data-ng-show="helpForm.idlet.$error.required">Required!</span>-->
                <!--  <span class="label label-danger" data-ng-show="helpForm.$error.number">Not a valid number!</span> -->
                 <input type="number" name="idlet" data-ng-model="idletimer" class="form-control">
              </div>



              <div class="form-group">
                <label for="vlan">VLAN</label>
               <!-- <span class="label label-danger" data-ng-show="helpForm.vlan.$error.required">Required!</span>-->
                <!--      <span class="label label-danger" data-ng-show="helpForm.$error.number">Not a valid number!</span> -->
                <input type="number" name="vlan" data-ng-model="vlan_number" class="form-control">
              </div>

              <div class="form-group">
                <label for="vlanprio">VLAN Priority</label>
               <!-- <span class="label label-danger" data-ng-show="helpForm.vlanprio.$error.required">Required!</span>-->
              <!--  <span class="label label-danger" data-ng-show="helpForm.$error.number">Not a valid number!</span> -->
              <input type="number" name="vlanprio" data-ng-model="vlan_numberpriority" class="form-control">
            </div>

            <div class="form-group">
              <label for="IPs">Source IP</label>
              <input type="text" name="IPs" data-ng-model="ipSource" class="form-control">
            </div>


            <div class="form-group">
              <label for="IPd">Destination IP</label>
              <input type="text" name="IPd" data-ng-model="ipDestiny" class="form-control">
            </div>

            <div class="form-group">
              <label for="protocol">Protocol</label>
              <select ng-model="proto_in" name="protocol" class="form-control" ng-options="protocol.proto for protocol in protos">
                </select>
            </div>


            <div class="form-group">
              <label for="action">Action</label>
              <span class="label label-danger" data-ng-show="helpForm.action.$error.required">Required!</span>
              <select ng-model="action_in" name="action" class="form-control" required ng-options="act.action for act in actions">
              </select>
            </div>

            <div ng-show="action_in.bool=='true2'">

              <div class="form-group">
                <label for="setvil">Set Vlan Number</label>
                <input type="number" name="setvi" data-ng-model="setvi" class="form-control">

              </div>

            </div>

            <div ng-show="action_in.bool=='true3'">

              <div class="form-group">
                <label for="IPd">Output from Port</label>
                <select ng-model="port_outin" name="port_outin" class="form-control" ng-options="portavail.name for portavail in ports">
                </select>
              </div>

              </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" data-ng-disabled="helpForm.$invalid" data-ng-click="submit(helpForm)" data-dismiss="itsok" class="btn btn-primary">Check and Submit</button>

            </div>
          </form>

        </div> <!--div ue tenca el modal body-->

      </div> <!--div ue tenca el controller-->
    </div>
  </div>
</div> <!--div Tanca tota estructura de modal-->


</div>
<p><font size="2"><mark>When priority has a vaule, Vlan priority adopts the same value. This is an error from OpenDayLight REST API</mark></font> </p>

</body>




<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<!-- Angular -->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<script type="text/javascript" src="js/promise-tracker.js"></script>











</html>
