<!DOCTYPE html>
<html lang="en" ng-app="myApp_statistics">
<head>

  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/controllerStatistics.js"></script>


  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>



<body>



<div data-ng-controller="helpstatistics" >

      <div class="container">

          <!--_________________________________________________________________________________________________________-->

        <div id="messagesadmin" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
          <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>
          <form class="navbar-form navbar-left" name="helpForm" class="form-inline" novalidate role="form">

            <div class="form-group">
              <label for="mikro">Switch</label>
              <select ng-model="MAC_address" name="mikro" class="form-control"
                      ng-options="mikro.name+' - '+mikro.id for mikro in nodesloaded" required />
              </select>
            </div>


            <div class="form-group">
              <label for="port_in">At Port Number</label>
              <select  ng-mousemove="showPorts(MAC_address.id)" ng-model="port_in" name="port_in" class="form-control" required ng-options="portavail for portavail in portsbymac">
              </select>
            </div>


            <div class="form-group">
              <label for="time">Time</label>
              <input type="number" style="width:80px" name="time" data-ng-model="time" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="range">Range</label>
              <select ng-model="range" name="range" class="form-control" required ng-options="interval.name for interval in intervalo">
              </select>
            </div>

             <button type="submit" data-ng-disabled="helpForm.$invalid" data-ng-click="submit(helpForm)" data-dismiss="itsok" class="btn btn-primary" ><i class="fa fa-plus"></i></button>


          </form>



      </div>
<div class="container">
  <!--<img src="{{grafic}}"/>
  button data-ng-click="deleteItem($index)" class=" btn btn-sm"><i class="fa fa-times"></i></button>
  -->
  <button type="submit" data-ng-click="clearAll()" class="btn btn-primary" >Clear All <i class="fa fa-trash-o"></i></button>
  <div id="nogrpaph" class="alert alert-warning" data-ng-show="nographfound" data-ng-bind="nographfound"></div>
  <table>
    <thead>
    <tr>
      <th width="200"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="grafic in grafics">

      <td><img  ng-animate="" src="{{grafic}}"/><button data-ng-click="deleteItem($index)" class=" btn btn-primary"><i class="fa fa-times"></i></button></td>
    </tr>
    </tbody>
  </table>

</div>
</div>








</body>




<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<!-- Angular -->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<script type="text/javascript" src="js/promise-tracker.js"></script>



</html>
