<!DOCTYPE html>
<html lang="en" ng-app="myApp_flows">
<head>

  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/controllerFlows.js"></script>


  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>



<body class="container">
<div ng-controller="flowscontroller">

  <!-- Button trigger modal -->

  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModalFlow">
    Add Flow
  </button>


  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>
  <accordion close-others="oneAtATime">

    <accordion close-others="oneAtATime">

      <accordion-group heading="{{company_info.company_name}}" ng-repeat="company_info in companies" ng-click="getNodes(company_info.company_name)">

        <div id="quiet" class="clearfix"></div>

        <div ng-hide="nodesFound" class="ng-hide">
          <h2>There are no nodes</h2>

        </div>

        <div ng-show="nodesFound">

          <table class="table" id="infoadmins">

            <thead>
            <tr>

              <th><h4> Node Name: </h4></th>
              <th><h4> Mac Address: </h4></th>
              <th><h4> Port Number: </h4></th>




            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="node_info in nodes">
              <td>{{node_info.node_name}}</td>
              <td>{{node_info.MAC_address}}</td>
              <td>{{node_info.port_number}}</td>
              <td> <a href="#" ng-click=editNode(node_info.id)>   <i class="fa fa-pencil-square-o"></i> </a> </td>
              <td> <a href="#"ng-click=deleteNode(node_info.node_name)>  <i class="fa fa-trash-o"></i> </a> </td>


            </tbody>
          </table>
        </div>
      </accordion-group>
    </accordion>




</div>



<!-- Modal -->
<div class="modal fade" id="myModalFlow" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFlow" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabelFlow">Add Flow</h4>
      </div>
      <div data-ng-controller="helpnode">
        <div class="modal-body">

          <!--_________________________________________________________________________________________________________-->
          <div id="messagesadmin" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
          <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>
          <form name="helpForm" novalidate role="form">

            <div class="form-group">
              <label for="flowname">Flow Name</label>
              <span class="label label-danger" data-ng-show="helpForm.flowname.$error.required">Required!</span>
              <input type="text" name="flowname" data-ng-model="flow_name" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="port">Ingress Port</label>
              <span class="label label-danger" data-ng-show="helpForm.port.$error.required">Required!</span>
              <!--   <span class="label label-danger" data-ng-show="helpForm.$error.number">Not a valid number!</span> -->
                <input type="number" name="port" data-ng-model="port_number" class="form-control" required />
              </div>

              <div class="form-group">
                <label for="prior">Priority</label>
                <span class="label label-danger" data-ng-show="helpForm.prior.$error.required">Required!</span>
             <!--    <span class="label label-danger" data-ng-show="helpForm.$error.number">Not a valid number!</span> -->
                <input type="number" name="prior" data-ng-model="priority" class="form-control" required />
              </div>

              <div class="form-group">
                <label for="MAC">MAC Address</label>
                <span class="label label-danger" data-ng-show="helpForm.MAC.$error.required">Required!</span>
                <input type="text" name="MAC" data-ng-model="MAC_address" class="form-control" required />
              </div>

              <div class="form-group">
                <label for="hardt">Hard Time Out</label>
                <span class="label label-danger" data-ng-show="helpForm.hardt.$error.required">Required!</span>
             <!--    <span class="label label-danger" data-ng-show="helpForm.$error.number">Not a valid number!</span> -->
                <input type="number" name="hardt" data-ng-model="hardtimer" class="form-control" required />
              </div>

              <div class="form-group">
                <label for="idlet">Idle Time Out</label>
                <span class="label label-danger" data-ng-show="helpForm.idlet.$error.required">Required!</span>
                <!--  <span class="label label-danger" data-ng-show="helpForm.$error.number">Not a valid number!</span> -->
                 <input type="number" name="idlet" data-ng-model="idletimer" class="form-control" required />
              </div>

              <div class="form-group">
                <label for="etht">Ethernet Type</label>
                <span class="label label-danger" data-ng-show="helpForm.etht.$error.required">Ex: 0x800</span>
                <input type="text" name="etht" data-ng-model="ethtype" class="form-control" required />
              </div>

              <div class="form-group">
                <label for="vlan">VLAN</label>
                <span class="label label-danger" data-ng-show="helpForm.vlan.$error.required">Required!</span>
                <!--      <span class="label label-danger" data-ng-show="helpForm.$error.number">Not a valid number!</span> -->
                <input type="number" name="vlan" data-ng-model="vlan_number" class="form-control" required />
              </div>

              <div class="form-group">
                <label for="vlanprio">VLAN Priority</label>
                <span class="label label-danger" data-ng-show="helpForm.vlanprio.$error.required">Required!</span>
              <!--  <span class="label label-danger" data-ng-show="helpForm.$error.number">Not a valid number!</span> -->
              <input type="number" name="vlanprio" data-ng-model="vlan_numberpriority" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="IPs">Source IP</label>
              <span class="label label-danger" data-ng-show="helpForm.IPs.$error.required">Required!</span>
              <input type="text" name="IPs" data-ng-model="ipSource" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="IPd">Destiny IP</label>
              <span class="label label-danger" data-ng-show="helpForm.IPd.$error.required">Required!</span>
              <input type="text" name="IPd" data-ng-model="ipDestiny" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="protocol">Protocol</label>
              <span class="label label-danger" data-ng-show="helpForm.protocol.$error.required">Required!</span>
              <select ng-model="proto_in" name="protocol" class="form-control" required ng-options="protocol.proto for protocol in protos">
                </select>
            </div>

            <div class="form-group">
              <label for="installH">Install Hw</label>
              <span class="label label-danger" data-ng-show="helpForm.installH.$error.required">Required!</span>
              <select ng-model="installH_in" name="installH" class="form-control" required ng-options="install.boolean for install in booleans">
              </select>
            </div>

            <div class="form-group">
              <label for="action">Action</label>
              <span class="label label-danger" data-ng-show="helpForm.action.$error.required">Required!</span>
              <select ng-model="action_in" name="action" class="form-control" required ng-options="action for action in actions">
              </select>
            </div>







            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" data-ng-disabled="helpForm.$invalid" data-ng-click="submit(helpForm)" data-dismiss="itsok" class="btn btn-primary">Check and Submit</button>

            </div>
          </form>

        </div> <!--div ue tenca el modal body-->

      </div> <!--div ue tenca el controller-->
    </div>
  </div>
</div> <!--div Tanca tota estructura de modal-->





</body>




<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<!-- Angular -->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<script type="text/javascript" src="js/promise-tracker.js"></script>











</html>
